
.TimeAndDate{

    -fx-background-color: black;
    -fx-background-radius: 28px;
    -fx-border-radius: 28px;
}

.menuBar{

    -fx-background-color: black;
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;

}

.iconContainer{
    -fx-background-color: transparent;
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;
}


 .gradient_button {

    -fx-background-radius: 28px;
    -fx-border-radius: 28px;


    -fx-background-image: url("image.png");
    -fx-background-size: cover;


    -fx-background-insets: 0, 0;


 }

/*Scaling effect
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
*/

.gradient_button:hover{
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-translate-y: -3px; /* Move up by 10px */
    -fx-transition: -fx-translate-y 0.5s ease-in-out;
    -fx-cursor: hand;
}

.gradient_button:pressed{
        -fx-scale-x: 0.98;
        -fx-scale-y: 0.98;
}


.plain_button{


    -fx-background-color: black;
    -fx-background-radius: 28px;
    -fx-translate-y: -3px; /* Move up by 10px */
    -fx-transition: -fx-translate-y 0.5s ease-in-out;
    -fx-border-radius: 28px;
}

/* Bouncing effect for hover */
.plain_button:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-cursor: hand;
}
.plain_button:pressed{
        -fx-scale-x: 0.98;
        -fx-scale-y: 0.98;
}

.iconContainer:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}
.iconContainer:pressed{
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
    -fx-translate-y: -0.5px; /* Move up by 10px */
    -fx-transition: -fx-translate-y 0.5s ease-in-out;
}

.scrollPaneView{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.departmentData{
    -fx-background-color: Black;
    -fx-background-radius: 36px;
    -fx-border-radius: 36px;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
}

.DD_Button{
    -fx-background-color: white;
    -fx-background-radius: 0px 0px 36px 36px;
}

.addDepartment{
    -fx-background-color: #808080;
    -fx-background-radius: 36px;
    -fx-border-radius: 36px;
    -fx-border-width: 0.5px;
}