
.TimeAndDate{
    -fx-background-color: black;
    -fx-background-radius: 28px;
    -fx-border-radius: 28px;
}

.menuBar{
    -fx-background-color: black;
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;

}

.iconContainer{
    -fx-background-color: transparent;
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;
}

.gradient_button {
    -fx-background-radius: 28px;
    -fx-border-radius: 28px;
    -fx-background-image: url("Images/gradientBackGroundImage.png");
    -fx-background-size: cover;
    -fx-background-insets: 0, 0;
}

/*Scaling effect
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
*/

.gradient_button:hover{
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-translate-y: -3px; /* Move up by 10px */
    -fx-transition: -fx-translate-y 0.5s ease-in-out;
    -fx-cursor: hand;
}

.gradient_button:pressed{
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}


.plain_button{
    -fx-background-color: black;
    -fx-background-radius: 28px;
    -fx-translate-y: -3px; /* Move up by 10px */
    -fx-transition: -fx-translate-y 0.5s ease-in-out;
    -fx-border-radius: 28px;
}

/* Bouncing effect for hover */
.plain_button:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-cursor: hand;
}
.plain_button:pressed{
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

.iconContainer:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}
.iconContainer:pressed{
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
    -fx-translate-y: -0.5px; /* Move up by 10px */
    -fx-transition: -fx-translate-y 0.5s ease-in-out;
}

.scrollPaneView{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.departmentData{

    -fx-background-color: Black;
    -fx-background-radius: 36px;
    -fx-border-radius: 36px;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
}

.DD_Button{
    -fx-text-fill: Black;
    -fx-background-color: white;
    -fx-background-radius: 0px 0px 36px 36px;
    -fx-border-radius: 0px 0px 36px 36px;
}

.DD_Button_Text{
    -fx-font-size: 24;
}

.DD_Button_Text:pressed{
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
    -fx-translate-y: -0.5px; /* Move up by 10px */
    -fx-transition: -fx-translate-y 0.5s ease-in-out;
}

.addDepartment{
    -fx-background-color: #808080;
    -fx-background-radius: 36px;
    -fx-border-radius: 36px;
    -fx-border-width: 0.5px;
}

.cameraTop{
    -fx-background-color: #000000;
}

.fullVideoContainer{
    -fx-border-radius: 16;
    -fx-background-color: #000000;
    -fx-background-radius: 16;
}

.form{
    -fx-background-color: #fff;
}

.form_button{
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-background-color: #000000;
    -fx-text-fill: White;
}

.form_field{
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-background-color: #D9D9D9;
    -fx-text-fill: #000000;
}

.form_button:pressed{
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
    -fx-translate-y: -0.5px; /* Move up by 10px */
    -fx-transition: -fx-translate-y 0.5s ease-in-out;
}

.Download_filter{
    -fx-border-radius: 24;
    -fx-background-radius: 24;
    -fx-background-color: #D9D9D9;
}

.Download_button{
    -fx-border-radius: 32;
    -fx-background-radius: 32;
    -fx-background-color: #000000;
}

.Option_Window{
    -fx-background-color: #000000;
}

.Option_Window_Buttons{
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-background-color: #EEEEEE;
}

.Option_Window_Delete_Buttons{
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-background-color: #EC605E;
}

.Option_Window_Buttons:pressed{
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
    -fx-translate-y: -0.5px; /* Move up by 10px */
    -fx-transition: -fx-translate-y 0.5s ease-in-out;
}

.Option_Window_Delete_Buttons:pressed{
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
    -fx-translate-y: -0.5px; /* Move up by 10px */
    -fx-transition: -fx-translate-y 0.5s ease-in-out;
}

.popup_Correct_message{
    -fx-background-color: #5FA777;
}
.popup_Button{
    -fx-background-color: #040404;
}


.popup_Error_message{
    -fx-background-color: #EC605E;
}